.wk-brand-container {
    position: absolute;
}

.wk-brand-logo {
    position: absolute;
    background: url('../img/logo.png') no-repeat;
    height: 80px;
    width: 80px;
    -webkit-filter: drop-shadow(2px 2px 0 #342c66) drop-shadow(-2px 2px 0 #342c66);
    filter: drop-shadow(2px 2px 0 #342c66) drop-shadow(-2px 2px 0 #342c66);
}

.wk-brand-row1 {
    font-size: 13px;
    line-height: 1.5;
    margin-left: 90px;
    color: #938cd0;
    font-family: 'Roboto Light', sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

.wk-brand-row2 {
    font-size: 25px;
    line-height: 1.3;
    margin-left: 90px;
    color: #d1caf3;
    overflow: hidden;
    white-space: nowrap;
}