#ofoms_search {
    text-transform: uppercase;
    font-family: 'Roboto Light', sans-serif;
}

.wk-ofoms-errors {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    float: left;
}

.wk-ofoms-attach-list-input {
    display: none !important;
}

button > i.fa {
    margin-right: 5px;
}

/* ------- Style ------- */

.search-ofoms-group > label {
    padding-left: 10px;
}

.search-ofoms-group > input.form-control {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #726ba0;
    box-shadow: inset 1px 2px 1px rgba(0, 0, 0, 0.1);
}

/* ------- Style ------- */