.wk-tiles-preview {
    max-width: 100%;
    width: 330px;
    height: 190px;
    background-color: #b9b7b8;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    clip-path: url(#c3);
}

.wk-tiles-preview-icon {
    max-width: 100%;
    width: 330px;
    height: 190px;
    background-color: transparent;
}

.wk-tiles-upload-input {
    display: none !important;
}

button > i.fa, a > i.fa {
    margin-right: 5px;
}

.wk-tiles-upload-image-button, .wk-tiles-crop-button, .wk-tiles-choose-icon-button {
    text-align: left !important;
}

.wk-tiles-image-container {
    padding: 0 15px;
}

.wk-tiles-image-container > div:first-child, .wk-tiles-icon-container > div:first-child {
    width: 360px;
}

.wk-tiles-image-container > div:first-child {
    background-color: #b9b7b8;
}

.wk-tiles-image-container > div:last-child, .wk-tiles-icon-container > div:last-child {
    padding-left: 0;
    margin-left: 15px;
}

#tilesform-tiles_description {
    resize: none;
    height: 160px;
}

#tilesform-tiles_link, #tilesform-tiles_keywords {
    text-transform: lowercase;
}

.wk-tiles-preview-icon > div {
    text-align: center;
    background-color: transparent;
}

div.wk-tiles-preview-grid.wk-grey-style:after, .wk-tiles-preview-icon > div.wk-grey-style:after {
    background-color: #d6d6d6;
}

div.wk-tiles-preview-grid.wk-red-style:after, .wk-tiles-preview-icon > div.wk-red-style:after {
    background-color: #ffb2b2;
}

div.wk-tiles-preview-grid.wk-blue-style:after, .wk-tiles-preview-icon > div.wk-blue-style:after {
    background-color: #b2d5ff;
}

div.wk-tiles-preview-grid.wk-green-style:after, .wk-tiles-preview-icon > div.wk-green-style:after {
    background-color: #bbecae;
}

div.wk-tiles-preview-grid.wk-yellow-style:after, .wk-tiles-preview-icon > div.wk-yellow-style:after {
    background-color: #fff59e;
}

.wk-tiles-preview-grid {
    background-color: rgba(210, 219, 255, 0.5);
    height: 95px;
    width: 165px;
    text-align: center;
    position: relative;
}

.wk-tiles-preview-icon {
    background-color: rgba(231, 233, 245, 0.5);
    height: 190px;
    width: 330px;
    text-align: center;
    position: relative;
}

.wk-tiles-preview-grid:after, .wk-tiles-preview-icon > div:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
}

.wk-tiles-preview-grid > i {
    font-size: 70px;
    text-shadow: rgba(0, 0, 0, 0.02) 3px 6px 3px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}

.wk-tiles-preview-icon > div > i {
    font-size: 160px;
    color: rgba(255, 255, 255, 0.71);
    text-shadow: rgba(0, 0, 0, 0.02) 5px 7px 11px;
    margin: 10px;
}

.wk-tiles-preview-icon > div {
    height: 100%;
}

div.wk-tiles-icons {
    /*padding: 15px 10px;*/
    /*background-color: rgba(255, 255, 255, 0.3);*/
}

div.wk-tiles-icons > div > a {
    width: 70px;
    height: 70px;
    font-size: 45px;
    display: inline-block;
    text-align: center;
    border: solid #d2d2fd 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

div.wk-tiles-icons > div {
    padding-bottom: 15px;
}

.wk-tiles-image-container > div:first-child:before {
    font-family: 'fontawesome';
    position: absolute;
    content: '\f03e';
    font-size: 160px;
    color: #d2d2d2;
    top: -20px;
    left: 95px;
}

div.wk-tiles-preview-bg {
    text-align: center;
}

div.wk-tiles-preview-bg > i {
    font-size: 160px;
    color: #d2d2d2;
    padding-top: 15px;
}

/* Кослыль, убирает радиокнопку при обрезке картинки */
.jcrop-keymgr {
    opacity: 0;
}